.loginBackground {
  background-image: url("../../public/background-image.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* File Input */
.file-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

/* Text Input */
.text-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background: transparent;
  box-sizing: border-box;
}

.text-input::placeholder {
  color: white;
  opacity: 1;
}

.submit-btn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  background: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .quote-form-container {
    padding: 15px;
  }

  .submit-btn {
    font-size: 14px;
  }
}
